{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>User Registration</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .section-container {
            margin-bottom: 20px;
        }
        .form-field {
            margin-bottom: 10px;
        }
        .btn-add {
            margin-top: 10px;
        }
        .card-header {
            background-color: #007bff;
            color: white;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header class="App-header">
        <img src="{% static 'profile/iitklogo.png' %}" alt="IIT Kanpur Logo" class="logoimage">
        <div class="logo">Office of Research and Development IIT Kanpur</div>
        <a href="{% url 'project-list' %}" class="btn">Dashboard</a>         
    </header>

    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2>User Registration</h2>
            </div>
            <div class="card-body">
                <form id="registrationForm" method="post" action="{% url 'registration' %}">
                    {% csrf_token %}
                    {% if already_registered %}
                        <div class="section-container" id="about">
                            <h2>About</h2>
                            <hr>
                            <div class="form-field">
                                <label for="dord-id">DORD ID</label>
                                <p>{{ registration.dord_number }}</p>
                            </div>
                            <div class="form-field">
                                <label for="full-name">Full Name</label>
                                <p>{{ registration.name }}</p>
                            </div>
                            <div class="form-field">
                                <label for="user-type">User type</label>
                                <p>{{ registration.user_type }}</p>
                            </div>
                            <div class="form-field">
                                <label for="gender">Gender</label>
                                <p>{{ registration.gender }}</p>
                            </div>
                            <div class="form-field">
                                <label for="email">Email</label>
                                <p>{{ request.user.email }}</p>
                            </div>
                            <div class="form-field">
                                <label for="firm_expertise">Description</label>
                                <p>{{ registration.firm_expertise }}</p>
                            </div>
                            <div class="form-field">
                                <label for="course">Course</label>
                                <p>{{ registration.course }}</p>
                            </div>
                        </div>

                        <div class="section-container" id="sector-expertise">
                            <h2>Sector Expertise</h2>
                            <hr>
                            <div class="form-field">
                                <label for="sector">Sector</label>
                                {% for sector in registration.sector_expertise.all %}
                                    <p>{{ sector }}</p>
                                {% endfor %}
                            </div>
                            <!-- <button type="button" onclick="window.location.href='{% url 'add_sector' %}'" class="btn btn-secondary btn-add">Add Sector</button> -->
                            <a href="{% url 'add_sector' %}">
                                <button type="button" class="btn btn-secondary btn-add">Add Sector</button>
                            </a>
                        </div>

                        <div class="section-container" id="subsector-expertise">
                            <h2>Sub Sector Expertise</h2>
                            <hr>
                            <div class="form-field">
                                <label for="subsector">Sub Sector</label>
                                {% for subsector in registration.subsector_expertise.all %}
                                    <p>{{ subsector }}</p>
                                {% endfor %}
                            </div>
                            <!-- <button type="button" onclick="window.location.href='{% url 'add_subsector' %}'" class="btn btn-secondary btn-add">Add Sub Sector</button> -->
                            <a href="{% url 'add_subsector' %}">
                                <button type="button" class="btn btn-secondary btn-add">Add Sub Sector</button>
                            </a>
                        </div>

                        <div class="section-container" id="past-projects">
                            <h2>Past Projects</h2>
                            <hr>
                            <div class="form-field">
                                <label for="past-projects">Past Projects</label>
                                {% for project in request.user.userregistration.past_projects.all %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ project.project_name }}</h5>
              <p class="card-text"><strong>Country:</strong> {{ project.country }}</p>
              <p class="card-text"><strong>State:</strong> {{ project.state }}</p>
              <p class="card-text"><strong>Start Date:</strong> {{ project.start_date }}</p>
              <p class="card-text"><strong>End Date:</strong> {{ project.end_date }}</p>
              <p class="card-text"><strong>Client:</strong> {{ project.client }}</p>
              <p class="card-text"><strong>Funding Obtained:</strong> {{ project.funding_obtained }}</p>
              <p class="card-text"><strong>Grant Number:</strong> {{ project.grant_number }}</p>
              <p class="card-text"><strong>Details:</strong> {{ project.details }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
                            </div>
                            <a href="{% url 'add_past_project' %}">
                            <button type="button" class="btn btn-secondary btn-add">Add Past Project</button>
                        </a>
                        </div>

                        <button type="submit" class="btn btn-primary">Update</button>
                    {% else %}
                        <form method="post" action="{% url 'registration' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.user_type.label_tag }}
                                {{ form.user_type }}
                            </div>
                            <div class="form-group">
                                <strong>{{ form.name.label_tag }}</strong>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.firm_expertise.label_tag }}
                                {{ form.firm_expertise}}
                            </div>
                            <div class="form-group">
                                {{ form.gender.label_tag }}
                                {{ form.gender }}
                            </div>
                            <div class="form-group">
                                {{ form.state.label_tag }}
                                {{ form.state }}
                            </div>
                            <div class="form-group">
                                {{ form.city.label_tag }}
                                {{ form.city }}
                            </div>
                            <div class="form-group">
                                {{ form.pincode.label_tag }}
                                {{ form.pincode }}
                            </div>
                            <div class="form-group">
                                {{ form.course.label_tag }}
                                {{ form.course }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email}}
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
